
- var txt1 = "Перекрёсток, иными словами перепутье - это своего рода граница между двумя мирами, места пересечения сил четырёх сторон света. Это тонкая граница, поэтому перекрёстки используют в различных магических ритуалаx."
- var txt2 = "Существует поверье, что если пройтись по перекрёстку трижды и загадать при этом желание, то оно сбудется."
- var txt3 = "Также перекресток - это своего рода выбор в каком направлении двигаться дальше - прямо, свернуть, а может стоит повернуть назад? Нам всем приходиться делать этот выбор, идя по своему жизненному пути, практически ежедневно."
- var txt4 = "Написание музыки - это тоже своего рода  'перекресток' на котором ты делаешь выбор в каком направлении двигаться, выбирая сюжет, стиль и жанр. И вот когда ты понимаешь, что идешь в нужном направлении, в конце пути тебя ожидает непревзойденная эйфория от своего маленького музыкального мира ,что ты создал. В этом и есть настоящая магия!"
- var txt5 = "Всех приветствую! Данный проект является результатам моих творческих изысканий за последние 20 лет, я являюсь автором музыки и текстов, а так же монтажа всех видеороликов представленных здесь.На данном этапе все музыкальные композиции представленные на этом сайте являются прототипами того, что может быть реализовано в будущем."
- var txt6 = "Автор проека - Яков Заболотный"

mixin about-text 
  p.about-text #{txt1} 
  p.about-text #{txt2}
  p.about-text #{txt3}
  p.about-text #{txt4}
  p.about-text #{txt5}
  p.about-text #{txt6}